<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Categories</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>General</string>
			<key>Key</key>
			<string>announcement_category_general</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Birthdays</string>
			<key>Key</key>
			<string>announcement_category_birthdays</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sports</string>
			<key>Key</key>
			<string>announcement_category_sports</string>
			<key>DefaultValue</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clubs</string>
			<key>Key</key>
			<string>announcement_category_clubs</string>
			<key>DefaultValue</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Counselor</string>
			<key>Key</key>
			<string>announcement_category_counselor</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Principal</string>
			<key>Key</key>
			<string>announcement_category_principal</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Nurse</string>
			<key>Key</key>
			<string>announcement_category_nurse</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Student School Board</string>
			<key>Key</key>
			<string>announcement_category_ssb</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Graduation</string>
			<key>Key</key>
			<string>announcement_category_graduation</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PTSA</string>
			<key>Key</key>
			<string>announcement_category_ptsa</string>
			<key>DefaultValue</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>FCCTC</string>
			<key>Key</key>
			<string>announcement_category_fcctc</string>
			<key>DefaultValue</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Other</string>
			<key>Key</key>
			<string>announcement_category_other</string>
			<key>DefaultValue</key>
			<string>on</string>
		</dict>
	</array>
</dict>
</plist>
