<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Categories</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Lunch</string>
			<key>Key</key>
			<string>announcement_category_lunch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>General</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>general_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Events</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>events_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Birthdays</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>birthdays_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sports</string>
			<key>Key</key>
			<string>announcement_category_sports</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clubs</string>
			<key>Key</key>
			<string>announcement_category_clubs</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Counselor</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>counselor_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Principal</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>principal_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Nurse</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>nurse_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Student School Board</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>ssb_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Graduation</string>
			<key>DefaultValue</key>
			<string>on</string>
			<key>Key</key>
			<string>graduation_label</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PTSA</string>
			<key>Key</key>
			<string>announcement_category_ptsa</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>FCCTC</string>
			<key>Key</key>
			<string>announcement_category_ptsa</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
